body
{
    font-family: Meriyo;
}

#site-box
{
    //background: #eeeeee;
    width: 800px;
    height: 680px;
    margin: 5px auto;
}

#title
{
    height: 110px;
}

#description
{
    font-size: 20px;
    height: 28px;
    position: relative;
    top: 40px;
}

#menu
{
    float: left;
    width: 600px;
    height: 450px;
    position: relative;
    top: 41px;
}

#update
{
    clear: left;
    width: 250px;
    height: 80px;
    position: relative;
    left: 270px;
    top: -102px;
}

#back
{
    clear: left;
    width: 250px;
    height: 80px;
    position: relative;
    left: 270px;
    top: -100px;
}

h1
{
    font-size: 40px;
    position: relative;
    top: 50px;
}

#name
{
    width: 300px;

}

#about
{
    width: 500px;
    height: 350px;
    overflow: auto;
}

dt
{
    font-size: 20px;
    position: relative;
    left: 20px;
}

#update_button
{
    width:120px;
    height:1.5em;
    font-size: 30px;
    position: relative;
    top: 30px;
}

#back_button
{
    width:120px;
    height:1.5em;
    font-size: 30px;
}

#taste
{
    position: relative;
    right: 20px;
    top: 50px;
}

